modload "storage/json.so"
default_storage json

modload "core/ping.so"
modload "core/nickserv.so"
modload "core/channel.so"
modload "whoami.so"
modload "core/join_channels.so"
modload "core/die.so"
modload "core/mode.so"
modload "core/error.so"
modload "userlist.so"
modload "logs/stderr.so"
modload "logs/channel.so"
modload "help.so"

server 127.0.0.2 6667 eir

set command_chars .

modload privileges.so
modload privs/hostmask.so
modload privs/account.so

#privilege host *!*@127.0.0.2 admin
privilege account spb admin

channel #eir
channel #asdf

log stderr - raw info admin command warning

log channel #eir admin command warning

modload "perl.so"

# Use one or the other of these two blocks, not both

# Normal nickserv auth...
set nickserv_user eir
set nickserv_pass thisisnotarealpassword

# ... or SASL (recommended on freenode)
loadscript scripts/eir_cap_sasl.pl
set sasl_user eir
set sasl_password thisisnotarealpassword
set sasl_mechanism plain

