modload "modules/storage/json.so"
default_storage json

modload "modules/core/ping.so"
modload "modules/core/nickserv.so"
modload "modules/core/channel.so"
modload "modules/whoami.so"
modload "modules/core/join_channels.so"
modload "modules/core/die.so"
modload "modules/core/mode.so"
modload "modules/core/error.so"
modload "modules/userlist.so"
modload "modules/logs/stderr.so"
modload "modules/logs/channel.so"
modload "modules/help.so"

server 127.0.0.2 6667 eir

set command_chars .

modload modules/privileges.so
modload modules/privs/hostmask.so
modload modules/privs/account.so

#privilege host *!*@127.0.0.2 admin
privilege account spb admin

channel #eir
channel #asdf

log stderr - raw info admin command warning

log channel #eir admin command warning

modload "modules/perl/perl.so"

# Use one or the other of these two blocks, not both

# Normal nickserv auth...
set nickserv_user eir
set nickserv_pass thisisnotarealpassword

# ... or SASL (recommended on freenode)
loadscript scripts/eir_cap_sasl.pl
set sasl_user eir
set sasl_password thisisnotarealpassword
set sasl_mechanism plain

